@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;

}

a,
ul,
li {
    text-decoration: none;
}

.prc-header {
    width: 100%;
    box-shadow: 8px 4px 25px rgba(0, 0, 0, 0.25);

}

.prc-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.prc-logo img {
    width: 10rem;
    padding: 2rem 0 0 2rem;
    margin: 0;

}

.prc-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.prc-nav li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #5F5F5F;
    display: inline-block;
    width: 100%;
    position: relative;
}

.prc-nav li a:hover {
    color: #03045EFC;
}

.prc-nav li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #03045EFC;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all .4s ease;
}

.prc-nav li a:hover::after {
    width: 100%;
}

button {
    width: 91px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #03045E;
    padding: 10px;
    cursor: pointer;
    color: #03045E;
}

.login:hover {
    background: #03045E;
    box-shadow: 0px 12px 20px rgba(3, 4, 94, 0.25);
    border: none;
    outline: none;
    color: white;
}

.signup:hover {
    background: #03045E;
    box-shadow: 0px 12px 20px rgba(3, 4, 94, 0.25);
    border: none;
    outline: none;
    color: white;
}

.auth-user {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart {
    margin-top: 0.5rem;
}

.username {
    margin-top: 1rem;
}




/* =========================hero section text============================== */

.lap-brief{
    width: 95%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 1rem;
}

.topleft-product-text{
        
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.lap-brief span{

    width: 195px;
    height: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    color: #0077B6;
}

.content-text{
    width:100%;
    /* height: 332px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 170%;
    text-align: justify;
    color: #5F5F5F;

}














/* ======products shop deal for home page Unauthenticated user=====*/

.container-topdeal-home-auth-user {
    display: flex;
    flex-direction: row;
    width: 95%;
    /* align-items: center; */
    margin: 10px auto;
}

/* left search side of the AuthenticTED User home page */
#side-bar {
    width: 25%;
    height: 60vh;
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 8px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
}

.key-p {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    color: #1E1E1E;
    margin: 6px;

}

.search-filter {
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid lightslategray;
}

/* ================Advert styling=========================== */
.side-search-ad {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background: #000;
    box-shadow: 8px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    /* border: 1px solid green; */
    margin: 5rem auto;
}
.ad-images{
    width: 100%;
    display: block;
    background: white;
}










.container-mac1-auth-user {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px auto;

}

.container-auth-user-store-dealX {
    display: block;
    width: 100%;
    /* border-radius: 10px; */
    margin-left: 6rem;

}

.more-auth-user {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.rank {
    display: block;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 5px auto;
    padding: .5rem;
}

.rank label {
    /* position: absolute; */
    width: 158px;
    /* height: 44px; */
    left: 383px;
    font-size: 12px;
    top: 24px;
    background: #F7F7F7;
    border-radius: 10px;
    color: #03045E;
}

.star_rate {
    display:block;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 10px;
    user-select: none;
}
.star_rate{
    text-align: center;

}

.star {
    width: 2.5%;
    border: none;
    color: #ff9800;
    background-color: unset;
    cursor: pointer;
}

.amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-auth {
    width: 91px;
    height: 40px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    background: #03045E;
    box-shadow: 0px 12px 20px rgba(3, 4, 94, 0.25);
    border-radius: 10px;
    border: none;
}

/* styling for the store logo, amount and store button */
.store-comment-auth-user {
    width: 90%;
    margin: 5px auto;
    padding: .5rem;
}

.link-amount {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    color: #0096C7;
}


.btn-auth-store {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
    color: white;
     background: #03045E;
    box-shadow: 0px 12px 20px rgba(3, 4, 94, 0.25);
}

.btn-see-more {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
    color: #000;
    /* background-color: lightslategray; */
}

.comment {
    display: block;
    width: 80%;
    align-items: center;
    margin: 0px auto;
    margin-top: 20px;
}

.comment-auth-input {
    width: 95%;
    height: 25px;
    border-radius: 6px;
}

.comment-auth-user {
    display: flex;
}

.comment-img {
    margin: 8px -18px 0 0;
    z-index: 1;
}

.store-auth-user {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.xh3 {
    display: flex;
}
/* 
.h3x {
    margin-bottom: 5px;
} */

.sm_list {
    display: none;
}

/* styling for newsletter */
.side-products-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 70vh;
    background: linear-gradient(180deg, #E23232 0%, #03045E 100%);
    box-shadow: 15px 4px 36px rgba(30, 30, 30, 0.25);
    border-radius: 0px 10px 10px 0px;
}

.pricey-newsletter-h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: #F7F7F7;
    margin-bottom: 2rem;
}

.pricey-newsletter-p {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #F7F7F7;
    margin-bottom: 2rem;
}

.newsletter-send-mail {
    display: block;
    justify-content: center;
    text-align: center;
    /* flex-direction: row-reverse; */
}

#mail-newsletter {
    width: 80%;
    padding: .5rem;
    border-radius: 8px;
}

.icon-news {
    position: relative;
    right: 120px;
    color: red;

}

.btn-newsletter {
    width: 155px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    left: 188px;
    top: 635px;
    background: #FCD445;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
}
* ===========================contact us form Authenticated user====================================== */
.container-contact-us-auth-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 1.5rem;
    margin: 0 auto;
    background: #03045E;
}

.container-contact-us {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.left-form-pic {

    width: 50%;
}

.left-form-pic img {
    height: 80vh;
    width: 100%;
}

.right-form-contact-auth {
    width: 50%;
    padding: 4rem;
    align-items: center;

}

.form-auth-user {
    display: block;
    width: 80%;
    align-items: center;
    margin: 0px auto;
    /* margin-top: 20px; */
}

.inputx input {
    width: 65%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightslategray;
    margin-bottom: 15px;

}

.button-send-auth-user-contact {
    width: 70%;
    align-items: center;
    text-align: center;
}

.button-send-auth-user-contact button {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
    color: white;
     background: #03045E;
    box-shadow: 0px 12px 20px rgba(3, 4, 94, 0.25);
}



/* =======================footer styling========================= */

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 20rem auto;
    width: 100%;
    background: #1e1e1e;

}


.div1 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    background: #1e1e1e;
    color: #fff;
    margin: 5px auto;
}

.div1 ul li {
    list-style: none;
    padding: .5rem;
}

.div1 ul li a {
    color: #fff;
    text-decoration: none;
}

.heading-container ul li {
    text-align: start;
    margin-left: 5px;
}

.link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: .5rem;
}


.div1 h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: .5rem;
    padding: 1rem;
    color: white;
}

.news .btn-email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 23px; */
    margin-right: 1rem;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: .5rem;
    color: rgba(255, 255, 255, 0.6);
    border: .3px solid gainsboro;


}

.fa-envelope-o {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    background: transparent;

}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.btn_news_footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn-email {
    font-family: 'Roboto';
    font-style: normal;
    width: 80%;
    margin:5px;
}

.btn-sub {
    width: 50%;
    text-align: center;
    background: #FCD445;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    /* line-height: 30px; */
    padding: .5rem;
    cursor: pointer;
    transition: all .3s ease-out;
    border: none;
}

.news .btn-sub:hover {
    background: #a18b39;
    color: #fff;

}

.news ul {
    margin-bottom: 1rem;
}

.div2 {
    width: 95%;
    padding: 1rem 1.5rem;
    background: #1e1e1e;
    text-align: center;
    margin: 0 auto;
    /* width: 95%; */
}

.line {
    padding: .5rem;
    border-top: 1px solid black;
    background: #1e1e1e;

}

.line-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #fff;

}

.div3 {
    /* background-color: #fff; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 1rem ; */
    background: whitesmoke;
}

.container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.social img {
    padding-right: 1rem;
    cursor: pointer;
}