@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    /* width: 100%; */
}

body {
    min-height: 100%;
    max-height: 100%;
    background-color: black;
}

main {
    width: 60%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    flex-direction: row;
    background-color: white;
    border-radius: 8px;
    margin: 2rem auto;
}

span {
    color: #0096C7;
}

.logleftside-logo {
    background-image: url('/priceylanding-page/images/login-Asset/Rectanglelogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    align-items: center;
    height: 100%;
    border-radius: 8px 0 0 8px;
}

.priceylogo {
    margin: 10rem 6rem;
}

.rightside-log {
    display: grid;
    margin: -5rem auto;
    padding: 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.rightside-log {

    align-items: center;
}

.log-h1 {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 50px;
    background: linear-gradient(180deg, #03045E 0%, #00B4D8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.log-p {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    font-size: .8rem;
    line-height: 20px;
    color: #141414;
}

.sign-h1 {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 50px;
    background: linear-gradient(180deg, #03045E 0%, #00B4D8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.sign-p {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    font-size: .8rem;
    line-height: 20px;
    color: #141414;
}

.btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, #0077B6 0%, #00B4D8 100%);
    border-radius: 4.84534px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 5px 0px;
    color: white;

}

.details-collection {
    margin-top: 1.5rem;
}

.mail input {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

.paswd input {
    margin-top: 2px;
    width: 100%;
    padding: 5px;
}

.link-a {
    text-decoration: none;
    margin-left: 10rem;
    margin-top: 5rem;
}

.link-s {
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 15px;
    color: #1E1E1E;
}

.login-with a {
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 15px;
    color: #1E1E1E;
}


/* Recovery password style */
.rightside-log-rec {
    display: block;
    margin: 0 auto;
    padding: 1.5rem;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#log-btn a {
    color: white;
}

.pad-rec {
    display: grid;
    margin: -2rem auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.pad-lock-rec {
    text-align: center;
    margin: 0 auto;
}

.log-p-rec {
    width: 100%;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: -4rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    line-height: 20px;
    color: #141414;
}

.login-with-rec a {
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 15px;
    color: #1E1E1E;
}

.cr8t-rec {
    margin-bottom: 10px;
}

.btn-rec {
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, #0077B6 0%, #00B4D8 100%);
    border-radius: 4.84534px;
    width: 90%;
    border-radius: 5px;
    border: none;
    margin: 5px;
    color: white;
    margin-bottom: 5rem;

}

.btn-rec a {
    color: white;
    text-decoration: none;
}

.mail-rec input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    padding: 8px;
}

.btn-sign {
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, #0077B6 0%, #00B4D8 100%);
    border-radius: 4.84534px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;

}

.btn-sign a {
    color: white;
    text-decoration: none;
}

.btn-google {
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 4.84534px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid lightgray;
    margin: 5px 0px;
    font-size: .9rem;
    justify-content: center;
    gap: 5px;
}

.btn-facebook {
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 4.84534px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 5px 0px;
    justify-content: center;
    gap: 5px;
}



/* styling for the signIn page*/
.main_flex_conatainer-signup {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    flex-direction: row;
    background-color: white;
    border-radius: 8px;
    /* margin: 1rem auto; */
}

.signleftside {
    background-image: url('/priceylanding-page//images/login-Asset/Rectangle6.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    align-items: center;
    height: 100%;
    border-radius: 8px 0 0 8px;

}

#fname {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

#lname {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

#orOpt {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#orOpt img {
    margin-top: 7px;
}

#checkbox {
    margin: 5px 0px;
}